{% extends 'home/menuA/admEmpleados.html' %}

{% block contenidoaEmp %}
<ul class="nav nav-pills nav-stacked"><li class="active"><a><b>Eliminar Empleado</b></a></li></ul>

{% if lista_empleados %}
    <form action="." method="POST">
        <table class="table table-bordered">
            <tr><th><label>Empleado:</label></th>
            <td><select name = "empleado">
                <option value = "VACIO">---------</option>
                {% for empleado in lista_empleados %}
                    <option value = "{{ empleado.username }}">{{ empleado.first_name }} ({{empleado.username}})</option>
                {% endfor %}
            </select></td></tr>
            {% csrf_token %}
        </table>
    	<input type="submit" class="btn btn-success" name="submit" style="font-weight:bold;" value="Eliminar">
    </form>
{% else %}
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong><i class="icon-warning-sign"></i> Atencion!</strong> No hay empleados en la base de datos.
    </div>
{% endif %}

<a class="btn btn-warning pull-right" href="/menuA/admEmpleados/#menu" role="button"><i class="icon-chevron-left icon-white"></i> <b>Atrás</b></a>
{% endblock %}