<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Chipset">
    <!-- Todo el Estilo -->
    <link rel="shortcut icon" href="/media/img/favico.png" type='image/x-icon'>
    <link href="/media/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/media/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
</head>

<body>
    <h1>Agregar Dispositivo</h1>
            {% if success %}
                <h3>Dispositivo agregado exitosamente!</h3>
            {% endif %}
            <form action="." method="POST" enctype="multipart/form-data">
                {{ agregarDispositivoForm.as_p }}
                {% csrf_token %}
                <br>
                <input type="submit" name="submit" value="Agregar Dispositivo">
            </form>
            <br><br>
    {% if hay_dispositivos %}
        {% for dispositivo in hay_dispositivos %}
        <h4>Dispositivo: {{ dispositivo.nombre_produc }}</h4>
        <h4>Precio: {{ dispositivo.precio_disp }}</h4>
        <h4>Cantidad: {{ dispositivo.cantidad_disp }}</h4>
        <h4>Destacado: {{ dispositivo.destacado }}</h4>
        <img border="2" src="{{ MEDIA_URL }}/{{ dispositivo.imagen_disp }}" alt="dispositivo.nombre_produc"/>
        <br>
        {% endfor %}
    {% endif %}
</body>
</html>