<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Chipset">
    <!-- Todo el Estilo -->
    <title>Editar Subtipo</title>
    <link rel="shortcut icon" href="/media/img/favico.png" type='image/x-icon'>
    <link href="/media/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/media/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
</head>

<body>
    <h1>Editar subtipo</h1>
            {% if success %}
                <h3>Subtipo editado exitosamente!</h3>
            {% endif %}
            <form action="." method="POST">
                {% if lista_subtipos %}
                    <p>Subtipo:</p>
                        <select name = "tipo">
                            <option value = "">-----------------</option>
                        {% for subtipo in lista_subtipos %}
                            <option value = "{{ subtipo.nombre_subtipo }}">{{ subtipo.nombre_subtipo }}</option>
                        {% endfor %}
                        </select>
                    {% endif %}
                <p>Nuevo nombre: <input maxlength="100" name = "nuevo_nombre_subtipo" type="text"/></p>
                {% csrf_token %}
                <input type="submit" name="submit" value="Editar Subtipo">
            </form>
            <br><br>
</body>
</html>