<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Chipset">
    <!-- Todo el Estilo -->
    <title>Editar Dispositivo</title>
    <link rel="shortcut icon" href="/media/img/favico.png" type='image/x-icon'>
    <link href="/media/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/media/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <!--<script>
    
    $('#').change(function() {

        function filtrar(id){
            
            var parametros = {
                "ID" : id
            };
            
            //alert(parametros.COLOR);
            
            $.ajax({
                
                url: '',
                data: parametros,
                datatype: 'json',           
                type: 'post'
                
            }).done(function(data){
                var resultados = json_decode(data);
           }).fail(function(){
                alert("Ha ocurrido un error al filtrar los datos");
                
            }); 
        };
    };
</script>-->
</head>

<body>
    {% if success %} <h2>Dispositivo Editado Exitósamente!</h2>  {% endif %}
    {% if editar_listo %}
    <h1>Editar Dispositivo:</h1>
        <form action="editar_dispositivo.html" method="POST" enctype="multipart/form-data">
            {{ editarDispositivoForm.as_p}}
            {% csrf_token %}
            <input type="hidden" name="id_dispositivo" value="{{ id_dispositivo }}">   
            <input type="submit" name="submit" value="Editar Dispositivo">
        </form>
     {% endif %}
</body>
</html>
