<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="LokoHanks">
    <!-- Todo el Estilo -->
    <link rel="shortcut icon" href="/media/img/favico.png" type='image/x-icon'>
    <link href="/media/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/media/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" language="JavaScript">
    NumberOfImagesToRotate = 6;
    FirstPart = '<img src="/media/img/logo';
    LastPart = '.png" alt="Chipset Management" height="90" width="180">';
    function printImage(){
      var r=Math.ceil(Math.random()*NumberOfImagesToRotate);
      document.write(FirstPart+r+LastPart);}
    </script>
  </head>
  <body>

    <header class="btn btn-primary btn-block disabled">
      <div class="container">
        <h1>Chipset Management</h1>
        <p class="lead">Radal Computación</p>
      </div>
    </header>

    <noscript>
      <p>
        Es necesario tener Javascript activado para utilizar todas las funciones de este sitio.
      </p>
    </noscript>

    <div class="container-fluid well" style="background-color:white;border:none;">
      <div class="row-fluid">
        <div class="span2">
          <div class="well well-small" style="background-color:white;">
            <form>
              <fieldset>
                <legend>Login</legend>
                <input class="span12" type="text" placeholder="Usuario">
                <input class="span12" type="password" placeholder="Clave">
                <input type="submit" class="btn btn-primary" value="Ingreso">
                <a class="btn btn-info" href="#registro" role="button" data-toggle="modal">Registro</a>
              </fieldset>
            </form>
          </div><!--Login-->

          <form class="form-search">
            <div class="input-append span12">
              <input type="text" class="span10 search-query" placeholder="Buscar">
              <button type="submit" class="btn"><i class="icon-search"></i></button>
            </div>
          </form><!--Búsqueda-->

          <br><br>
          <button type="submit" class="btn btn-large btn-block btn-success">Arma tu PC
          </button><!--ArmaPC-->

          <div class="span12 dropup">              
            <ul class="nav nav-list">
              <li class="nav-header"><h3>Categorias</h3></li>
              
              <li class="dropdown-submenu">
                <a href=""><b>Accesorios</b></a>
                <ul class="dropdown-menu">
                  <li><a href="">Todos los Productos</a></li>
                  <li><a href="">Sub-categoria 1</a></li>
                  <li><a href="">Sub-categoria 2</a></li>
                </ul>
              </li>
              
              <li class="dropdown-submenu">
                <a href=""><b>Audio</b></a>
                <ul class="dropdown-menu">
                  <li><a href="">Todos los Productos</a></li>
                  <li><a href="">Sub-categoria 1</a></li>
                  <li><a href="">Sub-categoria 2</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href=""><b>Conectividad</b></a>
                <ul class="dropdown-menu">
                  <li><a href="">Todos los Productos</a></li>
                  <li><a href="">Sub-categoria 1</a></li>
                  <li><a href="">Sub-categoria 2</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href=""><b>Discos Duros</b></a>
                <ul class="dropdown-menu">
                  <li><a href="">Todos los Productos</a></li>
                  <li><a href="">Sub-categoria 1</a></li>
                  <li><a href="">Sub-categoria 2</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href=""><b>Fuentes de Poder</b></a>
                <ul class="dropdown-menu">
                  <li><a href="">Todos los Productos</a></li>
                  <li><a href="">Sub-categoria 1</a></li>
                  <li><a href="">Sub-categoria 2</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href=""><b>Gabinetes</b></a>
                <ul class="dropdown-menu">
                  <li><a href="">Todos los Productos</a></li>
                  <li><a href="">Sub-categoria 1</a></li>
                  <li><a href="">Sub-categoria 2</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href=""><b>Impresoras</b></a>
                <ul class="dropdown-menu">
                  <li><a href="">Todos los Productos</a></li>
                  <li><a href="">Sub-categoria 1</a></li>
                  <li><a href="">Sub-categoria 2</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href=""><b>Memorias</b></a>
                <ul class="dropdown-menu">
                  <li><a href="">Todos los Productos</a></li>
                  <li><a href="">Sub-categoria 1</a></li>
                  <li><a href="">Sub-categoria 2</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href=""><b>Monitores</b></a>
                <ul class="dropdown-menu">
                  <li><a href="">Todos los Productos</a></li>
                  <li><a href="">Sub-categoria 1</a></li>
                  <li><a href="">Sub-categoria 2</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href=""><b>Mouse y Teclados</b></a>
                <ul class="dropdown-menu">
                  <li><a href="">Todos los Productos</a></li>
                  <li><a href="">Sub-categoria 1</a></li>
                  <li><a href="">Sub-categoria 2</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href=""><b>Procesadores</b></a>
                <ul class="dropdown-menu">
                  <li><a href="">Todos los Productos</a></li>
                  <li><a href="">Sub-categoria 1</a></li>
                  <li><a href="">Sub-categoria 2</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href=""><b>Refrigeración</b></a>
                <ul class="dropdown-menu">
                  <li><a href="">Todos los Productos</a></li>
                  <li><a href="">Sub-categoria 1</a></li>
                  <li><a href="">Sub-categoria 2</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href=""><b>Software</b></a>
                <ul class="dropdown-menu">
                  <li><a href="">Todos los Productos</a></li>
                  <li><a href="">Sub-categoria 1</a></li>
                  <li><a href="">Sub-categoria 2</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href=""><b>Tarjetas Gráficas</b></a>
                <ul class="dropdown-menu">
                  <li><a href="">Todos los Productos</a></li>
                  <li><a href="">Sub-categoria 1</a></li>
                  <li><a href="">Sub-categoria 2</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href=""><b>Tarjetas Madre</b></a>
                <ul class="dropdown-menu">
                  <li><a href="">Todos los Productos</a></li>
                  <li><a href="">Sub-categoria 1</a></li>
                  <li><a href="">Sub-categoria 2</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href=""><b>Unidades Ópticas</b></a>
                <ul class="dropdown-menu">
                  <li><a href="">Todos los Productos</a></li>
                  <li><a href="">Sub-categoria 1</a></li>
                  <li><a href="">Sub-categoria 2</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href=""><b>Equipos Armados</b></a>
                <ul class="dropdown-menu">
                  <li><a href="">Todos los Productos</a></li>
                  <li><a href="">Sub-categoria 1</a></li>
                  <li><a href="">Sub-categoria 2</a></li>
                </ul>
              </li>

            </ul>
          </div><!--Categorias-->



        </div><!--Barra Lateral-->

        <div class="span10">

          <div class="span9" style="text-align:center;">
            {% block barraSuperior %}
            {% endblock %}
          </div>

          <div class="span3 offset3">
            <a href="{% url 'index' %}"><script type="text/javascript" language="JavaScript">printImage();</script></a>
          </div>

          <div class="pull-right" style="text-align:center;">
            <a href=""><img src="/media/img/carrito-chico.png"><br><p class="btn btn-success">Carro de<br>Compra</p></a>
          </div>

          <br><br><br><br>
          <div id="content" class="">
            {% block contenido %}
            {% endblock %}
          </div>
            

        </div><!--Contenido-->


      </div><!--Row-->
    </div><!--Container-->

    <footer class="btn btn-primary btn-block disabled">
        <p>&copy; 2013 Radal Computación, Ltda. &middot; <a style="color:white" href="">Privacidad</a> &middot; <a style="color:white;text-align:center" href="">Condiciones</a></p>
    </footer>

    <div id="registro" class="modal hide fade" aria-labellledby="modalLabel" ariahidden="true">      
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
        <h3 id="modalLabel">Registro</h3>
      </div>      
      <div class="modal-body">
        <form action="#" method="post">
        	{{ form.as_p }}
        	{% csrf_token %}
        </form>
        
        <form action="/index_view/c/" method="post">
          <div class="controls control-group">
            <input type="text" name ="nombre" class="span5" placeholder="Nombre">
            <input type="text" name ="rut" class="span5" placeholder="RUT">
            <input type="text" name ="telefono" class="span5" placeholder="Teléfono">
            <input type="text" name ="email" class="span5" placeholder="Email">
            <input type="password" name ="pass1" class="span5" placeholder="Clave">
            <input type="password" name ="pass2" class="span5" placeholder="Confirmar Clave">
          </div>
        </form>
      </div>      
      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancelar
        </button>
        <button class="btn btn-success" type="submit">Registrar
        </button>
      </div>
    </div><!--Registro-->
    {% block modales %}
    {% endblock %}


    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
  </body>
</html>
