<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="LokoHanks">
    <!-- Todo el Estilo -->
    <link href="/media/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/media/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/media/chosen/chosen.css">
    <script type="text/javascript" language="JavaScript">
    NumberOfImagesToRotate = 6;
    FirstPart = '<img src="/media/img/logo';
    LastPart = '.png" alt="Chipset Management" height="90" width="180">';
    function printImage(){
      var r=Math.ceil(Math.random()*NumberOfImagesToRotate);
      document.write(FirstPart+r+LastPart);}
    </script>
  </head>
  <body>

    <header class="btn btn-primary btn-block disabled">
      <div class="container">
        <h1>Chipset Management</h1>
        <p class="lead">Radal Computación</p>
      </div>
    </header>

    <noscript>
      <div class="alert alert-danger">
        <strong><i class="icon-warning-sign"></i> Atención!</strong> Es necesario tener Javascript activado para utilizar todas las funciones de este sitio.
      </div>
    </noscript>

    <div class="container-fluid well" style="background-color:white;border:none;">
      <div class="row-fluid">
        <div class="span2">
          <div class="well well-small" style="background-color:white;">
            <form>
              <fieldset>
                <legend>Cuenta</legend>
                {% if user.is_superuser %}
                  <p><a class="btn btn-inverse" href="/menuA/" role="button"><b>Menú Admin</b></a></p>
                {% endif %}
                {% if user.is_staff %}
                  <p><a class="btn btn-inverse" href="/menuE/" role="button"><b>Menú Empleado</b></a></p>
                {% endif %}
                {% if user.is_authenticated %}
                  <p><a class="btn btn-primary" href="/perfil/" role="button"><b>Perfil</b></a></p>
                  <p><a class="btn btn-danger" href="/logout/" role="button"><b>Cerrar Sesión</b></a></p>
                {% else %}
                  <p><a class="btn btn-primary" href="/login/" role="button"><b>Ingresar</b></a></p>
                  <p><a class="btn btn-info" href="/registro/#menu" role="button"><b>Registrarse</b></a></p>
                {% endif %}

              </fieldset>
            </form>
          </div><!--Login-->

          <form class="form-search" action="/search/" method="get">
            <div class="input-append span12">
              <input type="text" class="span10 search-query" placeholder="Buscar" name="q">
              <button type="submit" class="btn" value="search"><i class="icon-search"></i></button>
            </div>
          </form><!--Búsqueda-->

          <br><br>
          <button type="submit" class="btn btn-large btn-block btn-success"><b>Arma tu PC</b>
          </button><!--ArmaPC-->

          
          <a href="/servicios/" class="btn btn-block btn-info"><b>Servicios</b></a><!--Servicios tecnicos-->

          {% if user.is_superuser %}
            <a href="/abast/" class="btn btn-block btn-info"><b>Abastecimientos</b></a><!--Abastecimientos-->
            <a href="/compras/" class="btn btn-block btn-info"><b>Compras</b></a><!--Compras-->
            <a href="/ventas/" class="btn btn-block btn-info"><b>Ventas</b></a><!--Ventas-->
          {% endif %}

          <div class="span12 dropup">              
            <ul class="nav nav-list">
              <li class="nav-header"><h3>Categorias</h3></li>
              {% for tipo in lista_categorias %}
                  <li class="dropdown-submenu"><a href="/categorias/?tipo={{ tipo }}"><b>{{ tipo }}</b></a></li>
              {% endfor %}
            </ul>
          </div><!--Categorias-->



        </div><!--Barra Lateral-->

        <div class="span10">

          <div class="span9" style="text-align:center;">
            {% block barraSuperior %}
            {% endblock %}
          </div>

          <div class="span3 offset3">
            <a href="{% url 'index' %}"><script type="text/javascript" language="JavaScript">printImage();</script></a>
          </div><!--Best LAS-->

          <div class="pull-right" style="text-align:center;">
            <a href="/carrito/"><img src="/media/img/carrito-chico.png"><br><p class="btn btn-success"><b>Carro de<br>Compra</b></p></a>
          </div><!--Carrito-->

          <br><br><br><br>
          <div id="content" class="">
            {% block contenido %}
            {% endblock %}
          </div>
            

        </div><!--Contenido-->


      </div><!--Row-->
    </div><!--Container-->

    <footer class="btn btn-primary btn-block disabled">
        <p>&copy; 2013 Radal Computación, Ltda. &middot; <a style="color:white" href="">Privacidad</a> &middot; <a style="color:white;text-align:center" href="">Condiciones</a></p>
    </footer>
  </body>
</html>