<select data-placeholder="Escoga dispositivos compatibles" multiple class="chosen-select" style="width:350px;" multiple name = "subtipos_compat">
	<option value="-1"></option>
	{% for subtipo in lista_subtipo %}
	<option value="{{ subtipo.subtipo.id }}">{{ subtipo.subtipo.nombre_subtipo }}</option>
	{% endfor %}
</select>

<script src="/media/js/jquery.min.js"></script>
<script src="/media/js/plugins.js" type="text/javascript" charset="utf-8"></script>
<script src="/media/chosen/chosen.jquery.js" type="text/javascript"></script>
<script src="/media/chosen/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
 
<script type="text/javascript">
	var config = {
	  '.chosen-select'           : {},
	  '.chosen-select-deselect'  : {allow_single_deselect:true},
	  '.chosen-select-no-single' : {disable_search_threshold:10},
	  '.chosen-select-no-results': {no_results_text:'No se encontró nada!'},
	  '.chosen-select-width'     : {width:"95%"}
	}
	for (var selector in config) {
	  $(selector).chosen(config[selector]);
	}
</script>