{% extends 'home/menuA/admCompatibilidades.html' %}

{% block contenidoaCom %}

<ul class="nav nav-pills nav-stacked"><li class="active"><a><b>Agregar Compatibilidad</b></a></li></ul>

<form action="." method="POST">
	<table class="table table-bordered">
		<tr><th><label>Dispositivo:</label></th>
		<td><div id="box-disp-1" class="side-by-side clearfix">
		        <select id = "id-dispositivo" data-placeholder="Escoja un dispositivo" class="chosen-select" style="width:250px;" name = "disp_elegido">
		            <option value="-1"></option>
		            {% for subtipo in lista_subtipo %}
		                <optgroup label="{{ subtipo.nombre_subtipo }}">
		                {% for dispositivo in lista_dispositivo %}
		                     {% if dispositivo.subtipo_disp == subtipo %}
		                    <option value="{{ dispositivo.id }}">{{ dispositivo.nombre_produc }}</option>
		                    {% endif %}
		                {% endfor %}
		                </optgroup> 
		             {% endfor %}
		        </select>
		</div></td></tr>
		<tr><th><label>Compatible con:</label></th>
		<td><div id = "box-subtipo" class="side-by-side clearfix">
		  	<select disabled data-placeholder="Escoja subtipos incompatibles" class="chosen-select" style="width:250px;" name = "disp_incompatibles">
		    </select>
		</div></td></tr>
	</table>
    {% csrf_token %}
    <input type="submit" class="btn btn-success" name="submit" style="font-weight:bold;" value="Agregar">
</form>

<a class="btn btn-warning pull-right" href="/menuA/admCompatibilidades/#menu" role="button"><i class="icon-chevron-left icon-white"></i> <b>Atrás</b></a>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<script src="/media/js/jquery.min.js"></script>
<script src="/media/js/plugins.js" type="text/javascript" charset="utf-8"></script>
<script src="/media/chosen/chosen.jquery.js" type="text/javascript"></script>
<!-- <script src="/media/chosen/docsupport/prism.js" type="text/javascript" charset="utf-8"></script> -->
<script type="text/javascript">
  $(document).on('ready', function() {

    $('#id-dispositivo').on('change', function(){

        // Se obtiene el id del dipositivo
        var id_disp = $('#id-dispositivo').val();
        
        if (id_disp != '-1') {
            
            // Se realiza la petición ajax
            $.ajax({
                async:true,
                type:'post',
                url: '/ajax/validar_dispositivo_diferente_comp/',
                data: 'id=' + id_disp,
                beforeSend:function(){
                    //$('#loading').fadeIn(100);
                },
                success:function(respuesta){
                    $('#box-subtipo').html(respuesta);
                    // for (var selector in config) {
                    //   $(selector).chosen(config[selector]);
                    // }
                    //$('#loading').fadeOut(200);
                },
                timeout:8000,
                error:function( jqXHR, textStatus, errorThrown ){
                    //$('#loading').fadeOut(200);
                    alert('Ha ocurrido un error, por favor inténtalo nuevamente.');
                    //alert('Ha ocurrido un error:\n' + jqXHR + '\n' + textStatus + '\n' + errorThrown);
                }
            });
        }
    });

       
});
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'No se encontró nada!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
</script>
{% endblock %}