{% extends 'template.html' %}
{% block title %} {{disp.nombre_produc}} | Chipset Management {% endblock %}

{% block barraSuperior %}
<div class="breadcrumb" style="background-color:white;">
  <li><a href="{% url 'index' %}">Home</a><span class="divider">|</span></li>
  <li><a href="https://www.facebook.com/pages/radal-computacion/122875447789596">Faceboook</a></li>
</div>
{% endblock %}

{% block contenido %}
<span id="menu" class="span9"><h2 style="text-align:center;">{{disp.nombre_produc}}</h2></span><br><br><br><br><br><br>

{% if var %}
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong><i class="icon-ok-circle"></i> Cambio Realizado!</strong> {{ var }}
</div>
{% endif %}
<br>
<div class="offset2 span5">
  <table class="table table-bordered">
    <tr><div class="offset1"><img border="2" src="{{ MEDIA_URL }}/{{ disp.imagen_disp }}" style="text-align:center;" alt="disp.nombre_produc"/></div></tr>
    <tr><th>Nombre:</th><td>{{  disp.nombre_produc }}</td></tr>
    <tr><th>Marca:</th><td>{{ disp.marca_disp }}</td></tr>
    <tr><th>Precio:</th><td>{{ disp.precio_disp }}</td></tr>
    <tr><th>Sub-Categoria:</th><td>{{ disp.subtipo_disp }}</td></tr>
    <tr><th>Disponibilidad:</th><td>{{ disp.cantidad_disp }}</td></tr>
    <tr><th>Descripción:</th><td>{{ disp.descrip_disp }}</td></tr>
  </table>
</div>
{% if user.is_authenticated %}
<div class="offset2 span5">
<!--   <div class="span6">
    <form action="." method="POST">
      <input hidden name="disp_disp" value={{ disp.id }}>
      <input hidden name="armado" value="True">
      {% csrf_token %}
      <input type="submit" class="btn btn-warning" name="submit" style="font-weight:bold;" value="Agregar al Armado">
    </form>
  </div> -->
  <div class="span6">
    <form action="." method="POST">
      <input hidden name="carro_disp" value={{ disp.id }}>
      <input hidden name="carro" value="True">
      {% csrf_token %}
      <input {% if disp.cantidad_disp == 0 %} disabled {% endif %} type="submit" class="btn btn-success pull-right" name="submit" style="font-weight:bold;" value="Agregar al Carrito">
    </form>
  </div>
</div>
{% endif %}
{% endblock %}