{% extends 'template.html' %}
{% block title %} Servicios Técnicos | Chipset Management {% endblock %}

{% block barraSuperior %}
<div class="breadcrumb" style="background-color:white;">
  <li><a href="{% url 'index' %}">Home</a><span class="divider">|</span></li>
  <li><a href="">Noticias</a><span class="divider">|</span></li>
  <li><a href="">Promociones</a><span class="divider">|</span></li>
  <li><a href="https://www.facebook.com/pages/radal-computacion/122875447789596">Faceboook</a></li>
</div>
{% endblock %}

{% block contenido %}
<span id="menu" class="span9"><h2 style="text-align:center;">Servicios Técnicos</h2></span><br><br><br><br><br><br>


<br>
{% if lista_servicios %}
  {% for servicio in lista_servicios %}
  <div class="offset2 span5">
    <table class="table table-bordered">
      <tr><th> {{ servicio.nombre_serv }}</th></tr>
      <tr><th>Precio:</th><td>{{ servicio.precio_serv }}</td></tr>
      <tr><th>Descripcion:</th><td>{{ servicio.descrip_serv }}</td></tr>
    </table>
  </div>
  {% endfor %}
{% else %}
  <br><br><br>
  <p class="muted offset2">No hay servicios técnicos en la base de datos.</p>
{% endif %}
{% endblock %}