{% extends 'template.html' %}
{% block title %} Inicio | Chipset Management {% endblock %}

{% block barraSuperior %}
<div class="breadcrumb" style="background-color:white;">
  <li class="active">Home<span class="divider">|</span></li>
  <li><a href="#">Servicios</a><span class="divider">|</span></li>
  <li><a href="#">Noticias</a><span class="divider">|</span></li>
  <li><a href="#">Promociones</a><span class="divider">|</span></li>
  <li><a href="https://www.facebook.com/pages/radal-computacion/122875447789596">Faceboook</a></li>
</div>
{% endblock %}

{% block contenido %}
<span id="menu" class="span9"><h2 style="text-align:center;">Categorias: {{ nombre }}</h2></span><br><br><br><br><br><br>
<p class="muted offset3">{{ categoria }}</p>


{% if lista_subtipos_hijos %}
<div class="offset2">
    <form action="." method="POST">
        <select name = "subtipo" class="chosen-select" data-placeholder = "Escoga subtipo a filtrar"  style="width:350px;">
            {% for subtipo in lista_subtipos_hijos %}
                <option value = "{{ subtipo.id }}">{{ subtipo.nombre_subtipo }}</option>
            {% endfor %}

        </select>
        <input type="hidden" value = "{{ categoria }}" name="categoria">
            {% csrf_token %}
        <input type="submit" name="submit" value="Filtrar">
    </form><br>
</div>
{% endif %}

<ul class="thumbnails" style="text-align:center;">
   {% for dispositivo in lista_dispositivo %}
   <li class="">
        <div class="thumbnail">
          <img border="2" src="{{ MEDIA_URL }}/{{ dispositivo.imagen_disp }}" alt="dispositivo.nombre_produc"/>
          <h3>{{  dispositivo.nombre_produc }}</h3>
          <p>Precio: {{ dispositivo.precio_disp }}</p>
        </div>
    </li>
    {% endfor %}
</ul>

<script src="/media/js/jquery.min.js"></script>
<script src="/media/js/plugins.js" type="text/javascript" charset="utf-8"></script>
<script src="/media/chosen/chosen.jquery.js" type="text/javascript"></script>
<script src="/media/chosen/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'No se encontró nada!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
</script>
{% endblock %}