{% extends 'template.html' %}
{% block title %} Inicio | Chipset Management {% endblock %}

{% block barraSuperior %}
<div class="breadcrumb" style="background-color:white;">
  <li class="active">Home<span class="divider">|</span></li>
  <li><a href="#">Servicios</a><span class="divider">|</span></li>
  <li><a href="#">Noticias</a><span class="divider">|</span></li>
  <li><a href="#">Promociones</a><span class="divider">|</span></li>
  <li><a href="https://www.facebook.com/pages/radal-computacion/122875447789596">Faceboook</a></li>
</div>
{% endblock %}

{% block contenido %}
<span id="menu" class="span9"><h2 style="text-align:center;">Productos Destacados</h2></span><br><br><br><br><br><br>


{% if lista_dispositivo %}
  <br>
  <ul class="thumbnails" style="text-align:center;">
     {% for dispositivo in lista_dispositivo %}
     <li class="">
          <div class="thumbnail">
            <a href="/dispositivo/?d={{ dispositivo.nombre_produc }}"><img border="2" src="{{ MEDIA_URL }}/{{ dispositivo.imagen_disp }}" alt="dispositivo.nombre_produc"/></a>
            <a href="/dispositivo/?d={{ dispositivo.nombre_produc }}"><h3>{{  dispositivo.nombre_produc }}</h3></a>
            <p>Precio: {{ dispositivo.precio_disp }}</p>
            <p>Marca: {{ dispositivo.marca_disp }}</p>
          </div>
      </li>
      {% endfor %}
  </ul>
{% else %}
  <br><br><br>
  <p class="muted offset2">No hay productos destacados en este momento.</p>
{% endif %}
{% endblock %}