{% extends 'template.html' %}
{% block title %} Inicio | Chipset Management {% endblock %}

{% block barraSuperior %}
<div class="breadcrumb" style="background-color:white;">
  <li class="active">Home<span class="divider">|</span></li>
  <li><a href="#">Servicios</a><span class="divider">|</span></li>
  <li><a href="#">Noticias</a><span class="divider">|</span></li>
  <li><a href="#">Promociones</a><span class="divider">|</span></li>
  <li><a href="https://www.facebook.com/pages/radal-computacion/122875447789596">Faceboook</a></li>
</div>
{% endblock %}

{% block contenido %}
<span id="menu" class="span9"><h2 style="text-align:center;">Productos Destacados</h2></span><br><br><br><br><br><br>


<ul class="thumbnails" style="text-align:center;">
	<li class="">
    <div class="thumbnail">
      <img src="http://images2.wikia.nocookie.net/__cb20120801131931/leagueoflegends/images/2/28/RyzeSquare.png" alt="">
      <h3>Producto X</h3>
      <p>Precio: $0</p>
    </div>
  </li>
  <li class="">
    <div class="thumbnail">
      <img src="http://images2.wikia.nocookie.net/__cb20120801131931/leagueoflegends/images/2/28/RyzeSquare.png" alt="">
      <h3>Producto X</h3>
      <p>Precio: $0</p>
    </div>
  </li>
  <li class="">
    <div class="thumbnail">
      <img src="http://images2.wikia.nocookie.net/__cb20120801131931/leagueoflegends/images/2/28/RyzeSquare.png" alt="">
      <h3>Producto X</h3>
      <p>Precio: $0</p>
    </div>
  </li>
  <li class="">
    <div class="thumbnail">
      <img src="http://images2.wikia.nocookie.net/__cb20120801131931/leagueoflegends/images/2/28/RyzeSquare.png" alt="">
      <h3>Producto X</h3>
      <p>Precio: $0</p>
    </div>
  </li>
  <li class="">
    <div class="thumbnail">
      <img src="http://images2.wikia.nocookie.net/__cb20120801131931/leagueoflegends/images/2/28/RyzeSquare.png" alt="">
      <h3>Producto X</h3>
      <p>Precio: $0</p>
    </div>
  </li>
  <li class="">
    <div class="thumbnail">
      <img src="http://images2.wikia.nocookie.net/__cb20120801131931/leagueoflegends/images/2/28/RyzeSquare.png" alt="">
      <h3>Producto X</h3>
      <p>Precio: $0</p>
    </div>
  </li>
  <li class="">
    <div class="thumbnail">
      <img src="http://images2.wikia.nocookie.net/__cb20120801131931/leagueoflegends/images/2/28/RyzeSquare.png" alt="">
      <h3>Producto X</h3>
      <p>Precio: $0</p>
    </div>
  </li>  
</ul>
{% endblock %}