{% extends 'template.html' %}

{% block title %} Menú Administrador | Chipset Management {% endblock %}

{% block barraSuperior %}
<div class="breadcrumb" style="background-color:white;">
  <li><a href="{% url 'index' %}">Home</a><span class="divider">|</span></li>
  <li><a href="">Servicios</a><span class="divider">|</span></li>
  <li><a href="">Noticias</a><span class="divider">|</span></li>
  <li><a href="">Promociones</a><span class="divider">|</span></li>
  <li><a href="https://www.facebook.com/pages/radal-computacion/122875447789596">Faceboook</a></li>
</div>
{% endblock %}

{% block contenido %}

<span id="menu" class="span9"><h2 style="text-align:center;">Menú Administrador</h2></span><br><br><br><br><br><br>

{% if success %}
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong><i class="icon-ok-circle"></i> Cambio Realizado!</strong> La base de datos ha sido actualizada
</div>
{% endif %}
{% if failure %}
<div class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong><i class="icon-warning-sign"></i> Cambio no Realizado!</strong> {{ error }}
</div>
{% endif %}

<div class="tabbable tabs-right well" style="background-color:white;">
  <ul class="nav nav-tabs">
    <li {% block aSto %}{% endblock %}><a href="/menuA/admStock/#menu"><b>Adm. Stock</b></a></li>
    <li {% block aDis %}{% endblock %}><a href="/menuA/admDispositivos/#menu"><b>Adm. Dispositivos</b></a></li>
    <li {% block aEqu %}{% endblock %}><a href="/menuA/admEArmados/#menu"><b>Adm.  Equipos Armados</b></a></li>
    <li {% block ASTe %}{% endblock %}><a href="/menuA/admSTecnicos/#menu"><b>Adm. S. Técnicos</b></a></li>
    <li {% block aCom %}{% endblock %}><a href="/menuA/admCompatibilidades/#menu"><b>Adm. Compatibilidades</b></a></li>
    <li {% block aTyS %}{% endblock %}><a href="/menuA/admTySubtipos/#menu"><b>Adm. Tipos y Subtipos</b></a></li>
    <li {% block aEmp %}{% endblock %}><a href="/menuA/admEmpleados/#menu"><b>Adm. Empleados</b></a></li>
    <li {% block aArm %}{% endblock %}><a href="/menuA/asigArmado/#menu"><b>Asignar Armado</b></a></li>
    <li {% block aSer %}{% endblock %}><a href="/menuA/asigServicio/#menu"><b>Asignar Servicio</b></a></li>
    <li {% block cArm %}{% endblock %}><a href="/menuA/confArmado/#menu"><b>Confirmar Armado</b></a></li>
    <li {% block cServ %}{% endblock %}><a href="/menuA/confServicio/#menu"><b>Confirmar Servicio</b></a></li>
    <li {% block rServ %}{% endblock %}><a href="/menuA/regServicio/#menu"><b>Registrar Servicios</b></a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active">
      {% block menuAdministrador %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}