{% extends 'home/menuA/admTySubtipos.html' %}

{% block contenidoaTyS %}
<div>
	<div class="span6">
		<ul class="nav nav-tabs nav-stacked">
			<li class="nav-header">Tipos</li>
			<li><a href="/menuA/admTySubtipos/agTipo/#menu"><b>Agregar Tipo</b></a></li>
			<li><a href="/menuA/admTySubtipos/elTipo/#menu"><b>Eliminar Tipo</b></a></li>
			<li><a href="/menuA/admTySubtipos/edTipo/#menu"><b>Editar Tipo</b></a></li>
		</ul>
	</div>
	<div class="span6">
		<ul class="nav nav-tabs nav-stacked">
			<li class="nav-header">Subtipos</li>
			<li><a href="/menuA/admTySubtipos/agSTipo/#menu"><b>Agregar Subtipo</b></a></li>
			<li><a href="/menuA/admTySubtipos/elSTipo/#menu"><b>Eliminar Subtipo</b></a></li>
			<li><a href="/menuA/admTySubtipos/edSTipo/#menu"><b>Editar Subtipo</b></a></li>
		</ul>
	</div>
</div>
{% endblock %}