{% extends 'template.html' %}

{% block contenido %}
<br><br><br><br><br><br><br><br><br>

<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong><i class="icon-ok-circle"></i> Funcionó!</strong> {{ success }}
</div>
<form class="well" action="." method="POST">
	<label>Es administrador:</label></label>
		<label class="radio"><input type="radio" name="optionsRadios" id="id_no" value="no" checked>No</label>
		<label class="radio"><input type="radio" name="optionsRadios" id="id_si" value="si">Sí</label>
	{% csrf_token %}
	<input type="submit" class="btn btn-success" name="submit" value="Agregar">
</form>
{% endblock %}